In [42]:
import pandas as pd
import requests
import numpy as np

In [18]:
# API endpoint URL
api_url = 'https://healthdata.gov/resource/9psv-r5iz.json'

In [19]:
# Send GET request to the API endpoint

response = requests.get(api_url)

In [20]:
    json_data = response.json()

In [21]:
df = pd.DataFrame(json_data)
df.head()

,state,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,inpatient_beds,...,previous_day_admission_pediatric_covid_confirmed_5_11,previous_day_admission_pediatric_covid_confirmed_5_11_coverage,previous_day_admission_pediatric_covid_confirmed_unknown,previous_day_admission_pediatric_covid_confirmed_unknown_coverage,staffed_icu_pediatric_patients_confirmed_covid,staffed_icu_pediatric_patients_confirmed_covid_coverage,staffed_pediatric_icu_bed_occupancy,staffed_pediatric_icu_bed_occupancy_coverage,total_staffed_pediatric_icu_beds,total_staffed_pediatric_icu_beds_coverage
0,AK,1,6,9,1,13,2,3,16,1154,...,0,15,0,16,0,16,4,16,8,16
1,CO,0,11,53,1,48,15,6,63,6908,...,0,58,0,64,1,64,64,64,102,64
2,GA,4,24,96,7,78,39,8,116,18558,...,0,121,0,124,3,124,246,124,360,124
3,SD,0,1,53,2,44,8,0,48,1867,...,0,43,0,54,0,54,2,54,10,54
4,MO,2,20,79,22,51,28,11,98,13632,...,0,95,0,101,2,101,181,101,231,101

In [22]:
df.shape

(53, 134)

In [23]:
df.describe()

,state,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,inpatient_beds,...,previous_day_admission_pediatric_covid_confirmed_5_11,previous_day_admission_pediatric_covid_confirmed_5_11_coverage,previous_day_admission_pediatric_covid_confirmed_unknown,previous_day_admission_pediatric_covid_confirmed_unknown_coverage,staffed_icu_pediatric_patients_confirmed_covid,staffed_icu_pediatric_patients_confirmed_covid_coverage,staffed_pediatric_icu_bed_occupancy,staffed_pediatric_icu_bed_occupancy_coverage,total_staffed_pediatric_icu_beds,total_staffed_pediatric_icu_beds_coverage
count,53,53,53,53,53,53,53,53,53,53,...,52,53,53,53,53,53,53,53,53,53
unique,53,11,28,45,21,44,27,21,46,53,...,4,46,3,47,7,48,45,48,47,48
top,AK,0,0,70,2,10,8,1,92,1154,...,0,15,0,32,0,40,4,91,8,91
freq,1,24,8,3,10,2,7,10,3,1,...,48,2,47,2,34,3,2,2,2,2

In [24]:
df.dtypes

state                                                      object
critical_staffing_shortage_today_yes                       object
critical_staffing_shortage_today_no                        object
critical_staffing_shortage_today_not_reported              object
critical_staffing_shortage_anticipated_within_week_yes     object
                                                            ...
staffed_icu_pediatric_patients_confirmed_covid_coverage    object
staffed_pediatric_icu_bed_occupancy                        object
staffed_pediatric_icu_bed_occupancy_coverage               object
total_staffed_pediatric_icu_beds                           object
total_staffed_pediatric_icu_beds_coverage                  object
Length: 134, dtype: object

In [37]:
df.columns

Index(['state', 'critical_staffing_shortage_today_yes',
       'critical_staffing_shortage_today_no',
       'critical_staffing_shortage_today_not_reported',
       'critical_staffing_shortage_anticipated_within_week_yes',
       'critical_staffing_shortage_anticipated_within_week_no',
       'critical_staffing_shortage_anticipated_within_week_not_reported',
       'hospital_onset_covid', 'hospital_onset_covid_coverage',
       'inpatient_beds',
       ...
       'previous_day_admission_pediatric_covid_confirmed_5_11',
       'previous_day_admission_pediatric_covid_confirmed_5_11_coverage',
       'previous_day_admission_pediatric_covid_confirmed_unknown',
       'previous_day_admission_pediatric_covid_confirmed_unknown_coverage',
       'staffed_icu_pediatric_patients_confirmed_covid',
       'staffed_icu_pediatric_patients_confirmed_covid_coverage',
       'staffed_pediatric_icu_bed_occupancy',
       'staffed_pediatric_icu_bed_occupancy_coverage',
       'total_staffed_pediatric_icu_beds',
       'total_staffed_pediatric_icu_beds_coverage'],
      dtype='object', length=134)

In [26]:
df.isnull().sum()

state                                                      0
critical_staffing_shortage_today_yes                       0
critical_staffing_shortage_today_no                        0
critical_staffing_shortage_today_not_reported              0
critical_staffing_shortage_anticipated_within_week_yes     0
                                                          ..
staffed_icu_pediatric_patients_confirmed_covid_coverage    0
staffed_pediatric_icu_bed_occupancy                        0
staffed_pediatric_icu_bed_occupancy_coverage               0
total_staffed_pediatric_icu_beds                           0
total_staffed_pediatric_icu_beds_coverage                  0
Length: 134, dtype: int64

In [29]:
df = df.dropna()

In [38]:
df = df.drop_duplicates()

In [49]:
numeric_columns = df.select_dtypes(include=np.number)

In [50]:
for column in numeric_columns.columns:
    df[column] = df[column].astype(int)

In [53]:
numeric_columns = df.select_dtypes(include=np.number)
numeric_columns

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 50, 52]

In [55]:
df['staffed_pediatric_icu_bed_occupancy_coverage'].dtype

dtype('O')